body {
    font-family: Monaco, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cdd227;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav li {
    margin-right: 20px;

}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

img {
    width: 10%;
}

footer {
    background-color: #cdd227;
    color: white;
    padding: 20px;
    text-align: center;
}

